@using SACA_Common.DTOs.Problem.Response
@using SACA_Common.DTOs.Submission.Request
@using SACA_Common.Enums
@using SACA_Common.Utils
@{
    ViewData["Title"] = "Contest Detail";
    Layout = "_Layout";
    ViewBag.ShowNavTab = true;
    ViewBag.ActiveTab = "submit-code";
    var problems = ViewData["problems"] as List<ProblemTableView> ?? new List<ProblemTableView>();
    var availLanguages = ViewData["AvailLanguages"] as List<eType_ContestProgrammingLanguage> ?? new List<eType_ContestProgrammingLanguage>();
}
@model SubmitSolutionRequest
@section CSSLib {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.14/codemirror.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.14/theme/monokai.min.css" rel="stylesheet" />
}
@section JSLib {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.14/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.14/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.14/mode/clike/clike.min.js"></script>
}
<form method="post" asp-controller="Submit" asp-route-ContestId=@(ViewBag.ContestId) class="mx-auto bg-white text-black p-4 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-4">Add new submission</h2>

    <div class="grid grid-cols-3 gap-4">
        <div>
            <label class="block font-medium">Problem</label>
            <select class="w-full p-2 border rounded" asp-for="problem_id">
                @foreach(var problem in problems)
                {
                    <option value="@(problem.id)">@(problem.code)</option>
                }
            </select>
        </div>
        <div>
            <label class="block font-medium">Programming language</label>
            <select class="w-full p-2 border rounded" asp-for="programming_language">
                @foreach (var lang in availLanguages)
                {
                    <option value="@((int)lang)">@lang.GetDescription()</option>
                }
            </select>
        </div>
        <div>
            <label class="block font-medium">Upload</label>
            <input type="file" class="w-full p-2 border rounded" id="file-upload">
        </div>
    </div>

    <label class="block font-medium mt-4">Source code</label>
    <textarea id="code-editor" class="w-full p-2 border rounded h-100 font-mono" placeholder="//Type your code here" asp-for="source_code"></textarea>

    <button class="mt-4 bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600">Submit</button>

    <div id="submission-result" class="mt-4"></div>
</form>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("code-editor"), {
        mode: "text/x-c++src",
        theme: "monokai",
        lineNumbers: true,
        autoCloseBrackets: true,
        matchBrackets: true,// Làm nổi bật cặp dấu ngoặc
    });

    document.getElementById('file-upload').addEventListener('change', function (event) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
            editor.setValue(e.target.result);
        };

        reader.readAsText(file);
    });
</script>